<div class="info-content">
<div class="info-button">
    <button class="update" id="info_update_cabinet" value={{cabinet[0].id}}>Modifier</button>
</div>

<p[0]>nom : {{cabinet[0].name}} </p>
<p>email : {{cabinet[0].email}} </p>
<p>phone : 0{{cabinet[0].phone}} </p>
<p>address : {{cabinet[0].address}} </p>
<p>description : {{cabinet[0].description}} </p>


</div>