<div class="info-content">
<div class="info-button">
    <button class="update" id="info_update_cabinet" value={{cabinet.id}}>Modifier</button>
</div>

<p>nom : {{cabinet.name}} </p>
<p>email : {{cabinet.email}} </p>
<p>phone : 0{{cabinet.phone}} </p>
<p>address : {{cabinet.address}} </p>
<p>description : {{cabinet.description}} </p>


</div>