<div class="info-content">
<div class="info-button">
    <button class="update" id="info_update_user" value={{user.id}}>Modifier</button>
    <button id="info_delete" value={{user.id}}>Supprimer</button>
</div>

<table class="table table-hover">
  <tbody>
    <tr>
      <td>nom : {{user.name}} </td>
    </tr>
    <tr>
      <td>prenom : {{user.lastname}}</td>
    </tr>
    <tr>
      <td>naissance : {{user.birth|date('d/m/y')}}</td>
    </tr>
    <tr>
      <td>régime(s) : {{user.diet|join(', ')}}</td>
    </tr>
    <tr>
      <td>allergie(s) : {{user.allergen|join(', ')}}</td>
    </tr>
    <tr>
      <td>email : {{user.email}}</td>
    </tr>
  </tbody>
</table>
</div>


<div class="recipes_table_user">

<div class="recipe_header">
  <h2>RECETTE PERSONALISE</h2>
</div>

<div class="pagination" id="pagination_userRecipes">
  {# Pagination des recettes #}
  <button id="recipesPrev" disabled>Prev</button>
    <input id="recipes_pages" value="{{1}}" disabled>
    <p>/</p>
    <input id="recipes_totalPages" value="{{(totalRecipes / recipesLimit)|round(0, 'ceil')}}" disabled>
    <p>page(s)</p>
  <button id="recipesNext" >Next</button>
</div>

<div class="recipes_table_content_user">
  {% include "partials/recipes/_recipes_table.html.twig" %}
</div>
</div>

{% include "partials/_confirm.html.twig" %}
